# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/latentTree.tlog/CL.read.1.tlog
Debug/latentTree.tlog/CL.write.1.tlog
Debug/latentTree.tlog/cl.command.1.tlog
Debug/latentTree.tlog/latentTree.lastbuildstate
Debug/latentTree.tlog/link.command.1.tlog
Debug/latentTree.tlog/link.read.1.tlog
Debug/latentTree.tlog/link.write.1.tlog
Debug/vc120.idb
ipch/latenttree-6ba8e010/latenttree-99125e4.ipch
latentTree.opensdf
latentTree.sdf
